.title{
    font-family: 'Rampart One', cursive;
     background-color: white;
     font-size:80;
     padding-bottom: 15px;
}

body{
    background-repeat: repeat;
}

.buttonClick{
    font-family: 'Rampart One', cursive;
    font-size: 30;
    height: 65px;
    width: 100px;
    border-radius: 20px;
    border-color: black;
    margin-top: 550px;
}

canvas{
    animation-name: tester;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: -75px;
}

@keyframes tester{
    from{box-shadow: 1px 1px 50px greenyellow;}
    to{box-shadow: 1px 1px 50px green;}
    from{box-shadow: 1px 1px 50px green;}
    to{box-shadow: 1px 1px 50px greenyellow;}
}